@import "../../styles/styles.scss";

.work-sample {
  // border-bottom: 1px solid #ccc;
  font-family: $primaryFontFamily;
  .work-sample-header {
    padding: $buffer*8 6% 0 6%;
    background: white;
    display: flex;
    align-items: flex-start;
    .title-info {
      h3 {
        margin-top: 0;
      }
    }
    .desc-info {
      p {
        font-size: $fontSize;
        line-height: $lineHeight;
        margin: 0;
      }
    }
  }
  .work-sample-image {
    img {
      width: 100%;
    }
  }
}
