@import "../../styles/styles.scss";

.work-sample {
  margin-bottom: $buffer*8;
  .work-sample-header {
    padding: $buffer*8 6% 0 6%;
    // -webkit-transform: translateY($buffer*8);
    background: white;
    display: flex;
    align-items: flex-start;
    .title-info {
      h3 {
        margin-top: 0;
      }
    }
    .desc-info {
      p {
        font-size: $fontSize;
        line-height: $lineHeight;
        margin: 0;
      }
    }
  }
  .work-sample-image {
    img {
      width: 100%;
    }
  }
}
