@import "../../styles/styles.scss";

.project-information-wrapper {
  margin: $buffer*16 0;
  @include breakpoint(sm) {
    margin: $buffer*16 $buffer*8;
  }
  .project-information {
    font-family: $secondaryFontFamily;
    font-size: $fontSize;
    line-height: $lineHeight;
    color: white;
    .project-title {
      font-weight: 800;
      padding-bottom: 0;
      @include breakpoint(sm) {
        padding: 0;
        margin: 0 0 $buffer*2 $buffer*2 ;
      }
    }
    .project-info-item {
      @include breakpoint(sm) {
        padding: 0;
        margin-left: $buffer*2;
      }
    }
  }
}
