@import "../../styles/styles.scss";

.homepage-container {
  .work-section {
    height: 60vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    @include breakpoint(sm) {
      padding: $buffer*8;
      text-align: center;
      height: 50vh;
    }
    .section-title {
      font-family: $secondaryFontFamily;
      font-size: $fontSizeHero;
      line-height: $lineHeightHero;
      color: white;
      @include breakpoint(sm) {
        font-size: $fontSizeStatement;
        line-height: $lineHeightStatement;
      }
    }
    .section-subtitle {
      font-family: $secondaryFontFamily;
      font-size: $fontSize;
      line-height: $lineHeight;
      color: white;
      margin-top: $buffer*8;
    }
  }
}
.bio-section {
  background: lighten($bgColorDark, 10%);
  .bio-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: $buffer*22 0;
    @include breakpoint(sm) {
      padding: $buffer*8;
    }
    .bio-text {
      font-family: $secondaryFontFamily;
      font-size: $fontSizeStatement;
      line-height: $lineHeightStatement;
      color: white;
      @include breakpoint(sm) {
        font-size: $fontSize;
        line-height: $lineHeight;
      }
    }
  }
}
.nav-wrapper {
  position: fixed;
  padding: $buffer*4 $buffer*8;
  z-index: $zIndex3;
  font-family: $secondaryFontFamily;
  font-size: $fontSize;
  background: white;
  @include breakpoint(sm) {
    padding: 0;
  }
  a {
    &:link {
      color: $bgColorDark;
      text-decoration: none;
      @include transition;
    }
    &:visited {
      color: $bgColorDark;
      text-decoration: none;
    }
    &:hover {
      color: lighten($bgColorDark, 50%);
      cursor: pointer;
      text-decoration: none;
      @include transition;
    }
    &:active {
      color: $bgColorDark;
      text-decoration: none;
    }
  }
  .nav-left {
    @include breakpoint(sm) {
      display: flex;
      justify-content: center;
      padding: $buffer*2 0 0 0;
    }
  }
  .nav-right {
    display: flex;
    justify-content: flex-end;
    @include breakpoint(sm) {
      justify-content: flex-start;
      padding: $buffer*2;
    }
    a {
      margin-left: $buffer*8;
      @include breakpoint(sm) {
        margin: 0;
        padding:: $buffer;
        margin-right: $buffer*2;
        text-align: center;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
