@import "../../styles/styles.scss";

.homepage-container {
  .work-section {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .section-title {
      font-family: $secondaryFontFamily;
      font-size: $fontSizeHero;
      line-height: $lineHeightHero;
      color: white;
    }
  }
}
.bio-section {
  background: lighten($bgColorDark, 10%);
  .bio-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: $buffer*22 0;
    .bio-text {
      font-family: $secondaryFontFamily;
      font-size: $fontSizeStatement;
      line-height: $lineHeightStatement;
      color: white;
    }
  }
}
.nav-wrapper {
  position: fixed;
  padding: $buffer*8;
  z-index: $zIndex3;
  font-family: $secondaryFontFamily;
  font-size: $fontSize;
  .nav-left {
    a {
      &:link {
        color: white;
        text-decoration: none;
        @include transition;
      }
      &:visited {
        color: white;
        text-decoration: none;
      }
      &:hover {
        color: white;
        cursor: pointer;
        text-decoration: none;
        @include transition;
      }
      &:active {
        color: white;
        text-decoration: none;
      }
    }
  }
  .nav-right {
    display: flex;
    justify-content: flex-end;
    a {
      margin-left: $buffer*8;
      &:link {
        color: white;
        text-decoration: none;
        @include transition;
      }
      &:visited {
        color: white;
        text-decoration: none;
      }
      &:hover {
        color: $bgColorDark;
        cursor: pointer;
        text-decoration: none;
        @include transition;
      }
      &:active {
        color: white;
        text-decoration: none;
      }
    }
  }
}
