@import "../../styles/styles.scss";

.homepage-container {
  .work-section {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .section-title {
      font-family: $secondaryFontFamily;
      font-size: $fontSizeHero;
      line-height: $lineHeightHero;
      color: white;
    }
  }
  .project-title {
    font-family: $secondaryFontFamily;
    font-size: $fontSize;
    line-height: $lineHeight;
    margin: $buffer*16 0;
    color: white;
  }
}
